# Ignore system folders
AppData/
Application Data/
Local Settings/
Cookies/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
Temporary Internet Files/
*.log
*.tmp
*.bak
# Project exclude paths
/target/